 @charset "utf-8";
/* CSS Document */
/*全局控制*/
body{margin:0; padding:0; font-size:12px; font-family:"微软雅黑";}
body{overflow:-Scroll;overflow-x:hidden;}
/*重置浏览器默认样式*/
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p,img,input,button,textarea{margin:0; padding:0; list-style:none; border:0;}
/*公共样式*/
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{text-decoration:underline;}
.qualification{width:1200px;height:98px;background-color:blue;margin:0 auto;background:url(/llhb/static/img/v2/enterpriseCustom/qualification.png) no-repeat;position:relative;margin-top: 40px;}
.qualification .qualification_zz{position:absolute;left:100px;top:20px;}
.certificate{width:1200px;background-color:#e2e2e2;margin:0 auto;overflow:hidden;position:relative;}
.certificate .certificate_sy {width:1108px;margin:0 auto;padding:46px 0 20px 0;overflow:hidden;}
.certificate_sy li{width:247px;height:248px;border:1px solid #efefef;float:left;margin:0 27px 25px 0 ;display:table-cell;text-align:center;vertical-align:middle;}
.certificate .box-bar29{position:absolute;top:7px;right:10px;z-index:9999;}
.certificate .box-bar29 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.certificate .zhe_z28{width:1200px;height:340px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;cursor:move;}
.certificate .box29{position:fixed;width:600px;left:50%;height:470px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.certificate .box29 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.certificate .box29 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.certificate .box29 .mainlist{padding:10px;height:300px;overflow-y: scroll; overflow-x: hidden;}
.certificate .box29 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.certificate .box29 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.certificate .box29 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width:435px;margin: 0 5px 10px 10px;}  
.certificate .box29 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.certificate .box29 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.certificate .box29 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
#img{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 20px;}
#TB_overlayBG{background-color:#000;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0.7;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;}
.imgDiv {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 248px;
	height: 248px;
}