@charset "utf-8";
/* CSS Document */
/*全局控制*/
body{margin:0; padding:0; font-size:12px;font-family:"Microsoft YaHei";}
body{overflow:-Scroll;overflow-x:hidden;font-family:"Microsoft YaHei";}
/*重置浏览器默认样式*/
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p,img,input,button,textarea{margin:0; padding:0; list-style:none; border:0;}
/*公共样式*/
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{text-decoration:underline;}
.service_work{width:1200px;height:98px;background-color:blue;margin:0 auto;background:url(../../../img/v2/enterpriseCustom/case.png) no-repeat;position:relative;}
.service_work .introduce_jjiee{position:absolute;left:100px;top:20px;}
.service_time{width:1200px;height:600px;margin:0 auto;margin-top:30px;}
.service_time li{width:295px;height:390px;background-color:green;float:left;margin:0 5px 30px 0;position:relative;}

/*每个案例*/
.service_time .serviceCaseItem{position:relative;}
.service_time .serviceCaseItem .box-bar21{position:absolute;top:7px;right:10px;z-index:9999;}
.service_time .serviceCaseItem .box-bar21 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.service_time .serviceCaseItem .zhe_z21{width:295px;height:390px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;cursor:move;top:0;}

/*弹框*/
.box20{position:fixed;width:812px;overflow:auto;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.box20 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.box20 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(../../../img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;cursor: pointer;}
.box20 .mainlist{height:300px;padding-top: 44px;padding-left: 64px;padding-bottom: 60px;}
.box20 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.box20 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.box20 .mainlist input{border: 1px solid #e3e3e3;height: 34px;width: 484px;margin: 0 5px 0 10px;font-size: 16px;text-indent: 5px;}   
.box20 .mainlist .ensure a{background-color: #145f00;width: 120px;text-align: center;height: 36px;display: inline-block;line-height: 36px;border-radius: 4px;color: #fff;margin-left: 10px;cursor: pointer;font-size: 16px;text-decoration: none;} 
.box20 .mainlist .ensure{margin-top: 50px;margin-left: 96px;height: 80px;}
#img{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 20px;}
#TB_overlayBG{background-color:#000;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0.7;filter: alpha(opacity=70);-moz-opacity: 0.7;z-index:99;}
.biao_ti{height:34px;line-height:34px;font-size:16px;width:92px;float:left;background:url() right no-repeat;margin-right:5px;text-align:right;} 
.mt{margin-top:20px;}


.laydate-icon{border:1px solid #C6C6C6; background-image:url(../images/icon.png)}

.laydate_body .laydate_box,
.laydate_body .laydate_ym,
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_table,
.laydate_body .laydate_table td,
.laydate_body .laydate_bottom #laydate_hms,
.laydate_body .laydate_time,
.laydate_body .laydate_bottom .laydate_btn a{border:1px solid #C6C6C6;}

.laydate_body .laydate_y .laydate_yms a,
.laydate_body .laydate_choose,
.laydate_body .laydate_table thead,
.laydate_body .laydate_bottom .laydte_hsmtex{background-color:#F0F0F0;}

.laydate_body .laydate_box, 
.laydate_body .laydate_ym .laydate_yms,
.laydate_body .laydate_time{box-shadow: 2px 2px 5px rgba(0,0,0,.1);}

.laydate_body .laydate_box{border-top:none; border-bottom:none; background-color:#fff; color:#333;}
.laydate_body .laydate_box input{color:#333;}
.laydate_body .laydate_box .laydate_void{color:#ccc!important; /*text-decoration:line-through;*/}
.laydate_body .laydate_box .laydate_void:hover{background-color:#fff!important}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{color:#333;}
.laydate_body .laydate_box a:hover{color:#666;}
.laydate_body .laydate_click{background-color:#E9E9E9!important;}
.laydate_body .laydate_top{border-top:1px solid #C6C6C6;}
.laydate_body .laydate_ym .laydate_yms{border:1px solid #C6C6C6; background-color:#fff;}
.laydate_body .laydate_y .laydate_yms a{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_y .laydate_yms .laydate_chdown{border-top:1px solid #C6C6C6; border-bottom:none;}
.laydate_body .laydate_y .laydate_yms ul li:hover{background-color:#F1F1F1; color:#000;}
.laydate_body .laydate_m .laydate_yms span:hover{background-color:#F1F1F1; color:#000;}
.laydate_body .laydate_choose{border-left:1px solid #C6C6C6;}
.laydate_body .laydate_chprev{border-left:none; border-right:1px solid #C6C6C6;}
.laydate_body .laydate_choose:hover, 
.laydate_body .laydate_y .laydate_yms a:hover{background-color:#F6F6F6;}
.laydate_body .laydate_chtop cite{border-bottom-color:#666;}
.laydate_body .laydate_chdown cite, .laydate_body .laydate_ym label{border-top-color:#666;}
.laydate_body .laydate_chprev cite{border-right-style:solid; border-right-color:#666;}
.laydate_body .laydate_chnext cite{border-left-style:solid; border-left-color:#666;}
.laydate_body .laydate_table td{border:1px solid #C6C6C6; color:#333;}
.laydate_body .laydate_table .laydate_nothis{color:#999;}
.laydate_body .laydate_table thead{ background-color:#E3E3E3; color:#000;}
.laydate_body .laydate_table thead th{}
.laydate_body .laydate_bottom{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_bottom #laydate_hms{background-color:#fff;}
.laydate_body .laydate_time{background-color:#fff;}
.laydate_body .laydate_bottom .laydate_sj{border-right:1px solid #C6C6C6; background-color:#F3F3F3;}
.laydate_body .laydate_bottom input{background-color:#fff;}
.laydate_body .laydate_bottom .laydte_hsmtex{border-bottom:1px solid #C6C6C6;}
.laydate_body .laydate_bottom .laydate_btn{border-right:1px solid #C6C6C6;}
.laydate_body .laydate_bottom .laydate_v{color:#999}
.laydate_body .laydate_bottom .laydate_btn a{border-right:none; background-color:#F0F0F0;}
.laydate_body .laydate_bottom .laydate_btn a:hover{color:#000; background-color:#fff;}

.laydate_body .laydate_table td:hover,
.laydate_body .laydate_bottom .laydate_time span:hover{background-color:#F2F2F2}


