@charset "utf-8";
/* CSS Document */
/*全局控制*/
body{margin:0; padding:0; font-size:12px; font-family:"微软雅黑";}
body{overflow:-Scroll;overflow-x:hidden;}
/*重置浏览器默认样式*/
h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,p,img,input,button,textarea{margin:0; padding:0; list-style:none; border:0;}
/*公共样式*/
a:link,a:visited{color:#666; text-decoration:none;}
a:hover{text-decoration:underline;}
.joedar_top {width:100%;background:#fff; font-size:14px;}
.joedar_middle{position:relative;}
.joedar_middle .bjs{background-color:black;height:168px;opacity:0.7;z-index:999;}
.joedar_middle .box-bar{position:absolute;top:10px;right:10px;}
.joedar_middle .box-bar a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
/* box1 */
.joedar_middle .box{position:fixed;width:640px;height:auto;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:9999;}
.joedar_middle .box h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.joedar_middle .box h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.joedar_middle .box .mainlist span{display: inline-block;width:70px;padding-bottom: 15px;text-align: center;font-size:16px;}
.joedar_middle .box .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 8px;} 
.joedar_middle .box .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.joedar_middle .box .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.joedar_middle .box .mainlist .ensure{position:absolute;right:25px;bottom:32px;}
.joedar_middle .box .mainlist{padding:20px 0 100px 36px;}
.joedar_middle .box .mainlist li{height:24px;line-height:24px;}
.joedar_middle .box .mainlist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
 #TB_overlayBG{background-color:#666;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:0.1;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;} 
/*上面招牌end*/

/* .joedar_middle :hover{background-color:black;width:100%;opacity:0.5;position:absolute;left:0;} */
.joedar_top_middle{width:1200px;height:33px;margin:0 auto;}
.joedar_top_left{width:300px;height:33px;float:left;}
.joedar_top_right{width:500px;height:33px;float:right;position:relative;}
.joedar_top_right li{float:left;width:80px;text-align:center;height:33px;line-height:32px;}
.joedar_top_right li a{height:33px;}
.joedar_top_right li .transi{width:22px;height:25px;display:block;background:url(/static/img/v2/enterpriseCustom/menu.png)no-repeat;position:absolute;right:5px;top:3px;}
/* 网站导航二级菜单样式 */
.joedar_top_right li.web_dh div {width:280px; border:1px #e5e5e5 solid; padding:9px; border-top:0; background:#fff;}
.joedar_top_right li.web_dh div {position:absolute; right:9999px; z-index:4;}
.joedar_top_right li.web_dh div dl {display:inline-block; width:30%; margin-left:2.5%;}
.joedar_top_right li.web_dh div dl dt {height:40px; line-height:40px; font-size:1.4em;}
.joedar_top_right li.web_dh div dl dd {float:left;}
.joedar_top_right li.web_dh div dl dd a {padding:3px 8px;}
/* 当鼠标经过时 */
.joedar_top_left a:hover, .joedar_top_right > li a:hover {color:#e60012;}
.joedar_top_right li.level2:hover > a {width:80px;height:32px; background:#fff; color:#e60012;display:block;}
.joedar_top_right li.favs:hover ul {left:0;}
.joedar_top_right li.web_dh:hover div {right:3px;}
.joedar_top_right li.web_dh div dl dd a:hover {background:#e60012; color:#fff;}
.joedar_top_right li.phone:hover span {left:-50px;}
/*logo区域*/
.joedar_header{width:100%;height:70px;border-top:1px solid #eee;background-color:#fff;}
.joedar_header_left{width:1200px;height:70px;margin:0 auto;}
.joedar_logo{width:120px;height:70px;float:left;}
.joedar_logo p{padding-top:8px;}
.joedar_firm{width:190px;height:70px;float:left;position: relative;}
.joedar_firm p{padding-top:8px;}
.joedar_firm span{font-size:12px;color:#878787;}
.joedar_middle_left{width:1200px;height:168px;margin:0 auto;}
.joedar_middle_left .corporation{padding-left:12px;width:800px;height:128px;padding-top:40px;position:absolute;top:6px;cursor:move;}
.joedar_middle_left h2{font-size:40px;color:#fff;padding-bottom:15px;}
.joedar_middle_left span{color:#fff;font-size:15px;width:850px;line-height:25px;word-break:break-all;}
/*导航条开始*/
.joedar_nav{width:100%;height:44px;position:relative;}
.joedar_nav ul{width:1200px;height:44px;margin:0 auto;}
.joedar_nav li{width:120px;height:44px;line-height:44px;float:left;text-align:center;font-size:16px;color:#fff;}
.joedar_nav .zhe_z{width:25%;height:44px;right:0;background-color:#000;opacity:0.7;position:absolute;top:0;z-index:999;}
.joedar_nav .box-bar2{position:absolute;top:10px;right:166px;z-index:9999;}
.joedar_nav .box-bar2 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
/* box2 */
.navigation_bar .box2{position:fixed;width:770px;height:560px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:9999;}
.navigation_bar .box2 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.navigation_bar .box2 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.navigation_bar .box2 .mainlist{padding:10px;height:400px;}
.navigation_bar .box2 .mainlist .page_one .page_name{float:left;width:220px;margin-left:20px;height:30px;line-height:40px;text-align:left;color:#000;}
.navigation_bar .box2 .mainlist .page_one li{float:left;width:150px;height:30px;text-align:center;line-height:40px;color:#000;}
.navigation_bar .box2 .mainlist .pagenav-status{width:15px;height:15px;margin-top:12px;}
.navigation_bar .box2 .mainlist .index1{height:40px;width:690px;border-bottom:1px dashed #dfdfdf;margin:0 auto;}
.navigation_bar .box2 .mainlist .index1 .decorate{display:inline-block;width:70px;height:24px;border:1px solid #dfdfdf;border-radius:4px;line-height:24px;margin-top:7px;}
.navigation_bar .box2 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.navigation_bar .box2 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.navigation_bar .box2 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.navigation_bar .box2 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.navigation_bar .box2 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.navigation_bar .box2 .mainlist .ensure{position:absolute;right:36px;bottom:24px;}
/* .box2 .mainlist li{height:24px;line-height:24px;float:left;color:#000;} */
.navigation_bar .box2 .mainlist dt {float:left;width:220px;margin-left:20px;height:30px;line-height:40px;background:url(/static/img/v2/enterpriseCustom/compile.png) 60px 11px no-repeat;}
.navigation_bar .box2 .mainlist dt img{display:none;}
.navigation_bar .box2 .mainlist dd{float:left;width:150px;height:30px;text-align:center;line-height:40px;}
.navigation_bar .box2 .mainlist dd a{margin-top:8px;}
.navigation_bar .box2 .mainlist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
 #TB_overlayBG{background-color:blue;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;} 
/*导航条end*/
#Joedar_bg{width:100%;;background:url(/static/img/v2/enterpriseCustom/one_bg.jpg)repeat-x;}
/*公司简介*/
.Joedar_abstract{width:1200px;margin:0 auto;position:relative;overflow:hidden;margin-top:40px;}
.Joedar_abstract .abstract_right .blur{ 
	-webkit-filter: blur(3px); /* Chrome, Opera */
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);   
   	filter: blur(3px);   
}
.Joedar_abstract .box-bar5{position:absolute;top:10px;right:10px;z-index:9999;}
.Joedar_abstract .box-bar5 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_abstract .left_img{float:left;width:424px;height:380px;background:url(/static/img/v2/enterpriseCustomteam.jpg) no-repeat;}
.Joedar_abstract .the_left{width:1200px;height:380px;background-color:#000;opacity:0.7;z-index:9999;}
.Joedar_abstract .the_right{width:1200px;height:380px;background-color:#000;opacity:0.7;display:none;position:absolute;top:0;z-index:999;}
.Joedar_abstract .abstract_right .synopsis{padding-top:70px;position:absolute;top:10px;left:90px;}
.Joedar_abstract .abstract_right .synopsis h2{width:600px;height:57px;border-bottom:1px dashed #fff;text-align:center;line-height:66px;font-size:20px;margin:0 auto;color:#fff;}
.Joedar_abstract .abstract_right .synopsis p{width:600px;padding-top:30px;line-height:22px;margin:0 auto;height:280px;color:#fff;}
.Joedar_abstract .abstract_right  .synopsis a{color:red;}
/* box5 */
.Joedar_abstract .box5{position:fixed;width:600px;left:50%;height:314px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_abstract .box5 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_abstract .box5 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_abstract .box5 .mainlist{padding:10px;height:300px;}
.Joedar_abstract .box5 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_abstract .box5 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_abstract .box5 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_abstract .box5 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_abstract .box5 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.Joedar_abstract .box5 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
.Joedar_abstract .box5 .mainlist li{height:24px;line-height:24px;float:left;color:#000;}
.Joedar_abstract .box5 .mainlist dt{float:left;width:100px;margin-left:20px;}
.Joedar_abstract .box5 .mainlist dd{float:left;width:150px;height:30px;text-align:center;}
.Joedar_abstract .box5 .mainlist li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
 #TB_overlayBG{background-color:blue;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;}
/*公司简介end*/


/*公司发展历程*/
.Joedar_news{height:300px;width:1200px;margin:0 auto;position:relative;}
.Joedar_news .zhe_z5{height:300px;width:1200px;background-color:#000;opacity:0.7;display:none;position:absolute;top:0;}
.Joedar_news .box-bar6{position:absolute;top:10px;right:10px;z-index:9999;}
.Joedar_news .box-bar6 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_news .Joedar_number{width:1100px;position:relative;margin:40px 0 0 80px;}
.Joedar_news .Joedar_number .number_1{word-break:break-all;position:absolute;top:0px;left:40px;line-height:21px;width:154px;height:63px;overflow:hidden;}
.Joedar_news .Joedar_number .number_2{word-break:break-all;position:absolute;left:238px;line-height:21px;width:154px;height:63px;overflow:hidden;}
.Joedar_news .Joedar_number .number_3{word-break:break-all;position:absolute;top:0px;left:456px;line-height:21px;width:154px;height:63px;overflow:hidden;}
.Joedar_news .Joedar_number .number_4{word-break:break-all;position:absolute;left:666px;line-height:21px;width:154px;height:63px;overflow:hidden;}
.Joedar_news .Joedar_number .number_5{word-break:break-all;position: absolute;top: 0px;left: 874px;line-height: 21px;width: 154px;overflow: hidden;height: 63px;}
.Joedar_news .Joedar_number .number_6{word-break:break-all;position:absolute;right:172px;line-height:21px;}
.Joedar_news .Joedar_number .number_7{word-break:break-all;position:absolute;top:0px;right:74px;line-height:21px;width:154px;height:63px;overflow:hidden;}
/* box6 */
.Joedar_news .box6{position:fixed;width:600px;left:50%;height:500px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_news .box6 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_news .box6 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_news .box6 .mainlist{padding:10px;height:300px;}
.Joedar_news .box6 .mainlist h3{height:20px;text-align:center;color:#118d5a;line-height:70px;font-size:20px;}
.Joedar_news .box6 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;cursor: pointer;}
.Joedar_news .box6 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_news .box6 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_news .box6 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.Joedar_news .box6 .mainlist .ensure{position:absolute;right:20px;bottom:30px;}

 /*#TB_overlayBG{background-color:blue;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;}*/
 .Joedar_news .box6 .arrow_bg{width:552px;height:74px;margin:0 auto;background:url(../../../img/v2/enterpriseCustom/node.png) bottom no-repeat;}
/* ul li{list-style:none;float:left;} */
.Joedar_news .box6 .arrow_bg .on_bg{width:85px;height:85px;background:url(../../../img/v2/enterpriseCustom/arrow.png) center no-repeat;font-size:28px;line-height:40px;text-align:center;font-family:"微软雅黑";}
.Joedar_news .box6 .arrow_bg input{clear:both;}
.Joedar_news .box6 .arrow_bg li{width:90px;height:102px;background:url(../../../img/v2/enterpriseCustom/arrow_1.jpg) center no-repeat;font-size:18px;text-align:center;line-height:72px;color:#fff;font-family:"微软雅黑";}	
.Joedar_news .box6 .mainlist .history{width:544px;height:40px;margin-bottom:10px;padding-left:10px;font-family:"微软雅黑";}
 /*公司发展历程end*/  

/*环境评估与认证*/
.Joedar_evaluate{width:1198px;height:500px;margin:0 auto;clear:both;border:1px solid #efefef;margin-top:40px;position:relative;}
.Joedar_evaluate .zhe_z7{width:1200px;height:500px;background-color:#000;opacity:0.7;position:absolute;z-index:99;display:none;}
.Joedar_evaluate .box-bar7{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_evaluate .box-bar7 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
/* box7 */
.Joedar_evaluate .box7{position:fixed;width:580px;left:50%;height:332px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:9999;}
.Joedar_evaluate .box7 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_evaluate .box7 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_evaluate .box7 .mainlist{padding:10px;}
.Joedar_evaluate 
.Joedar_evaluate .box7 .mainlist .pagenav-status{width:15px;height:15px;margin-top:12px;}
.Joedar_evaluate .box7 .mainlist ul{height:240px;width:500px;margin:0 auto;margin-top:20px;}
.Joedar_evaluate .box7 .mainlist ul li{width:113px;height:35px;border:1px solid gray;border-radius:4px;text-align:center;line-height:35px;margin:0 10px 14px 0;cursor: pointer;}
.Joedar_evaluate .box7 .mainlist ul .service_type{background:url(../../../img/v2/enterpriseCustom/true.png) right top no-repeat;}
.Joedar_evaluate .box7 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_evaluate .box7 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_evaluate .box7 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_evaluate .box7 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_evaluate .box7 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;cursor: pointer;} 
.Joedar_evaluate .box7 .mainlist .ensure{position:absolute;right:50px;bottom:30px;}
/*modules*/
.modules{position:fixed;width:580px;left:50%;height:280px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:9999;}
.modules h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.modules h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(/llhb/static/img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.modules .mainlist{padding:10px;height:400px;}
.modules .mainlist .pagenav-status{width:15px;height:15px;margin-top:12px;}
.modules .mainlist ul{height:240px;width:500px;margin:0 auto;margin-top:20px;}
.modules .mainlist ul li{width:113px;height:35px;border:1px solid gray;border-radius:4px;text-align:center;line-height:35px;margin:0 10px 14px 0;cursor: pointer;}
.modules .mainlist ul .service_type{background:url(../../../img/v2/enterpriseCustom/true.png) right top no-repeat;}
.modules .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.modules .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.modules .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.modules .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.modules .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;cursor: pointer;} 
.modules .mainlist .ensure{position:absolute;right:50px;bottom:30px;}

/*#img{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 100px;background-color:#146000;}*/
 #TB_overlayBG{background-color:#000;position:absolute;z-index:9999;left:0;top:0;display:none;width:100%;height:100%;opacity:0.9;filter: alpha(opacity=50);-moz-opacity: 0.5;z-index:99;} 
.Joedar_evaluate .flip{width:210px;height:38px;text-align:center;line-height:38px;font-size:16px;color:#fff;cursor: pointer;}
.Joedar_evaluate .flip:hover{background-color:rgba(35, 179, 132, 0.61);}
.Joedar_evaluate .nav1 div{height:50px;background-color:#e3faff;text-align:center;line-height:50px;}
.Joedar_evaluate .flip2{width:210px;height:60px;text-align:center;line-height:60px;font-size:20px;color:#fff;}
.Joedar_evaluate .flip3{width:210px;height:60px;text-align:center;line-height:60px;font-size:20px;color:#fff;}
.Joedar_evaluate .flip4{width:210px;height:60px;text-align:center;line-height:60px;font-size:20px;color:#fff;}
.Joedar_evaluate .nav2 div{height:50px;background-color:#e3faff;text-align:center;line-height:50px;}
.Joedar_evaluate .nav4 div{height:50px;background-color:#e3faff;text-align:center;line-height:50px;}
.Joedar_evaluate .content .materials{width:532px;height:398px;float:right;}
.Joedar_evaluate .content .materials h4{width:580px;height:40px;background-color:#45bead;text-align:center;line-height:40px;color:#fff;font-weight:normal;}
.Joedar_evaluate .content .materials ul{padding-left:30px;padding-top:40px;}
.Joedar_evaluate .content .materials li{float:left;height:50px;line-height:50px;border-bottom:1px dashed blue;text-align:center;}
.Joedar_evaluate .content .materials .bian{border-bottom:1px solid #45bead;text-align:center;font-size:18px;}
.Joedar_evaluate .right{width:620px;float:left;}
.Joedar_evaluate .content-back{width:620px;height:300px;}
.Joedar_evaluate .content{position:relative;width:990px;height:500px;margin-top:-300px;overflow:hidden;}
.Joedar_evaluate .content div{width:990px;height:280px;}
.Joedar_evaluate .content div ul{height:500px;float:left;width:476px;}
.Joedar_evaluate .content div li{/*width:400px;margin:0 19px 0px 0 ; height:500px; */}
.Joedar_evaluate .contentt{position:relative;width:900px;height:500px;margin-top:-300px;overflow:hidden;}
.Joedar_evaluate .contentt div{width:960px;height:280px;background:#fff;}
.Joedar_evaluate .contentt div ul{height:500px;float:left;}
.Joedar_evaluate .contentt div li{margin:0 19px 0px 0 ;width:400px;height:500px;}
.Joedar_evaluate .contenttt{position:relative;width:900px;height:500px;margin-top:-300px;overflow:hidden;}
.Joedar_evaluate .contenttt div{width:960px;height:280px;background:#fff;}
.Joedar_evaluate .contenttt div ul{height:500px;float:left;}
.Joedar_evaluate .contenttt div li{margin:0 19px 0px 0 ;width:400px;height:500px;}
.Joedar_evaluate .myscroll { width:512px; height: 260px; line-height: 40px; font-size: 12px; overflow: hidden;}
.Joedar_evaluate .myscroll ul{width:512px;}
.Joedar_evaluate .myscroll li { height:40px; margin-left: 25px;float:left;margin:0;border-bottom:1px dashed #90d4d3;}
.Joedar_evaluate .myscroll a { color: #333; text-decoration: none;}
.Joedar_evaluate .myscroll a:hover { color:#5EC520; text-decoration: underline;cursor:pointer;}
.Joedar_evaluate .myscroll .serial_number{width:120px;display:inline-block;margin-left:20px;}
.Joedar_evaluate .myscroll .remould{width:96px;text-align:center;display:inline-block;}
.Joedar_evaluate .myscroll .enterprise{width:223px;display:inline-block;}
/*幻灯片样式开始*/
#container{width:424px;height:380px;overflow:hidden;position:relative;float:left;}
#list{height:765px;width:1872px;width:3120px;position:absolute;z-index:1;left:-424px;}
#list img{float:left;width:424px;height:380px;display:block;}
.arrow{cursor:pointer;display:block;line-height:38px;text-align:center;height:38px;position:absolute;z-index:2;top:300px;}
.arrow img{vertical-align:top;}
#prev{}
#next{}
#container .arrow span{color:#fff;font-size:18px;position:absolute;left:28px;bottom:-9px;}
/*幻灯片样式开始*/
#containerr{width:476px;height:500px;overflow:hidden;position:relative;float:left;}
#listt{height:765px;width:1872px;width:3120px;position:absolute;z-index:1;left:-476px;}
#listt img{float:left;width:476px;height:500px;display:block;}
.arrow{cursor:pointer;display:block;line-height:38px;text-align:center;height:38px;position:absolute;z-index:2;top:300px;}
.arrow img{vertical-align:top;}
#prevv{}
#nextt{}
#containerr .arrow span{color:#fff;font-size:24px;position:absolute;left:210px;top:251px;}

/*服务案列*/
.Joedar_product{width:1198px;height:398px;margin:0 auto;clear:both;border:1px solid #efefef;margin-top:40px;background-color:#fff;position:relative;box-shadow:0px 0px 2px #bad9a5;}
.Joedar_product .box-bar9{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_product .box-bar9 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_product .zhe_z8{width:1200px;height:398px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;}
.Joedar_product h3{height:60px;line-height:60px;border-bottom:1px solid #e9eee9;text-align:center;font-size:20px;}
.Joedar_product .more{position:absolute;right:41%;top:58px;width:200px;height:4px;background-color:#146000;}
.Joedar_product .Joedar_show{width:1100px;height:200px;padding:24px 0 0 48px;position:relative;}
.Joedar_product .Joedar_show ul{padding-top:20px;}
.Joedar_product .Joedar_show li{float:left;width:250px;margin-right:25px;}
.Joedar_product .Joedar_show span{text-align:center;padding-top:15px;display:block;}
	/*第二个*/
.main-pagee{height:300px;margin-top:20px;}
.main-pagee .left, {float:left;}
.main-pagee .nav-back{width:220px;height:300px;}
.main-pagee .nav{/* position:relative; */left:334px;margin-top:-300px;width:660px;text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;}
.main-pagee .nav div{height:32px;line-height:32px;width:100px;float:left;color:#356160;height:34px;margin-bottom:25px;margin-right:15px;border-radius:2px;}
.main-pagee .nav div.on{background:#248d91;width:100px;color:#fff;}
.main-pagee .right{width:620px;margin-left:20px;}
.main-pagee .content-back{}
.main-pagee .content{position:relative;width:1075px;margin-top:-300px;overflow:hidden;margin-left:40px;}
.main-pagee .content div{width:960px;height:280px;margin-bottom:10px;text-align:center;}
.main-pagee .content div ul{width:9000px;}
.main-pagee .content div li{float:left;margin:0 32px 30px 0 ;}
.main-pagee .content div li div{display: table-cell;text-align: center;vertical-align: middle;width: 242px;height: 242px;border: 1px solid #f6f6f6;}
.main-pagee .content div li img{max-width:242px;max-height:242px;}
.main-pagee .content div li p{line-height:50px;}
/*产品展示*/
.Joedar_case{width:1198px;height:418px;margin:0 auto;clear:both;margin-top:40px;border:1px solid #efefef;position:relative;background-color:#fff;box-shadow:0px 0px 2px #bad9a5;}
.Joedar_case .zhe_z10{width:1200px;height:418px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;cursor:move;}
.Joedar_case .box-bar10{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_case .box-bar10 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_case .box10{position:fixed;width:600px;left:50%;height:280px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_case .box10 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_case .box10 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(../images/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_case .box10 .mainlist{padding:10px;height:300px;}
.Joedar_case .box10 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_case .box10 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_case .box10 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_case .box10 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_case .box10 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.Joedar_case .box10 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
.Joedar_case h3{height:60px;line-height:60px;border-bottom:1px solid #e9eee9;text-align:center;font-size:20px;}
.Joedar_case .more{position:absolute;right:41%;top:58px;width:200px;height:4px;background-color:#146000;}
.Joedar_case .Joedar_show{width:1100px;height:200px;padding:24px 0 0 48px;}
.Joedar_case .Joedar_show ul{padding-top:30px;}
.Joedar_case .Joedar_show li{float:left;width:250px;margin-right:25px;}
.Joedar_case .Joedar_show span{text-align:center;padding-top:15px;display:block;}
	/*第三个*/
.main-pageee{height:300px;margin-top:20px;}
.main-pageee .left, {float:left;}
.main-pageee .nav-back{width:220px;height:300px;}
.main-pageee .nav{/*position:relative;*/left:334px;margin-top:-300px;width:660px;text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;}
.main-pageee .nav div{height:32px;line-height:32px;width:100px;float:left;color:#356160;height:34px;margin-bottom:25px;margin-right:15px;border-radius:2px;}
.main-pageee .nav div.on{background:#248d91;width:100px;color:#fff;}
.main-pageee .right{width:620px;margin-left:20px;}
.main-pageee .content-back{}
.main-pageee .content{position:relative;width:1075px;margin-top:-300px;overflow:hidden;margin-left:40px;}
.main-pageee .content div{width:960px;height:280px;margin-bottom:10px;text-align:center;}
.main-pageee .content div ul{width:9000px;}
.main-pageee .content div li{float:left;margin:0 32px 30px 0 ;height:500px;}
.main-pageee .content div li div{display: table-cell;text-align: center;vertical-align: middle;width: 249px;height: 249px;border: 1px solid #f6f6f6;}
.main-pageee .content div li img{max-width:249px;max-height:249px;}
.main-pageee .content div li p{line-height:35px;}
/*企业资质*/
.Joedar_aptitude{width:1198px;height:398px;margin:0 auto;clear:both;margin-top:40px;border:1px solid #efefef;position:relative;background-color:#fff;box-shadow:0px 0px 2px #bad9a5;}
.Joedar_aptitude .zhe_z11{width:1200px;height:398px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;cursor:move;}
.Joedar_aptitude .box-bar11{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_aptitude .box-bar11 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_aptitude .box11{position:fixed;width:600px;left:50%;height:280px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_aptitude .box11 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_aptitude .box11 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(../images/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_aptitude .box11 .mainlist{padding:10px;height:300px;}
.Joedar_aptitude .box11 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_aptitude .box11 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_aptitude .box11 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_aptitude .box11 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_aptitude .box11 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.Joedar_aptitude .box11 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
#img{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 100px;}
.Joedar_aptitude h3{height:60px;line-height:60px;border-bottom:1px solid #e9eee9;text-align:center;font-size:20px;}
.Joedar_aptitude .more{position:absolute;right:41%;top:58px;width:200px;height:4px;background-color:#146000;}
.Joedar_aptitude .Joedar_show{height:200px;padding:24px 0 0 48px;}
.Joedar_aptitude .Joedar_show ul{padding-top:30px;}
.Joedar_aptitude .Joedar_show li{float:left;width:318px;margin-right:59px;}
.Joedar_aptitude .Joedar_show li img{width:318px;height:230px;}
.Joedar_aptitude .Joedar_show span{text-align:center;padding-top:15px;display:block;}
	/*第四个*/
.main-pageeee{height:300px;margin-top:20px;}
.main-pageeee .left, {float:left;}
.main-pageeee .nav-back{width:220px;height:300px;}
.main-pageeee .nav{/*position:relative;*/left:334px;margin-top:-300px;width:660px;text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;}
.main-pageeee .nav div{height:32px;line-height:32px;width:100px;float:left;color:#356160;height:34px;margin-bottom:25px;margin-right:15px;border-radius:2px;}
.main-pageeee .nav div.on{background:#248d91;width:100px;color:#fff;}
.main-pageeee .right{width:620px;margin-left:20px;}
.main-pageeee .content-back{}
.main-pageeee .content{position:relative;width:1075px;margin-top:-300px;overflow:hidden;margin-left:40px;}
.main-pageeee .content div{width:960px;height:280px;margin-bottom:10px;text-align:center;}
.main-pageeee .content div ul{width:9000px;}
.main-pageeee .content div li{float:left;margin:0 0 30px 0 ;height:500px;width:268px;}
.main-pageeee .content div li div{display: table-cell;text-align: center;vertical-align: middle;width: 250px;height: 190px;border: 1px solid #f6f6f6;}
.main-pageeee .content div li img{max-width:250px;max-height:190px}
.main-pageeee .content div li p{line-height:35px;}
/*企业相册*/
.Joedar_photo{width:1198px;height:350px;margin:0 auto;clear:both;margin-top:40px;border:1px solid #efefef;background-color:#fff;position:relative;box-shadow:0px 0px 2px #bad9a5;}
.Joedar_photo .zhe_z12{width:1200px;height:350px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;cursor:move;}
.Joedar_photo .box-bar12{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_photo .box-bar12 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_photo .box12{position:fixed;width:600px;left:50%;height:280px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_photo .box12 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_photo .box12 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(../images/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_photo .box12 .mainlist{padding:10px;height:300px;}
.Joedar_photo .box12 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_photo .box12 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_photo .box12 .mainlist input{border: 1px solid #e3e3e3;height: 25px;width: 90px;margin: 0 5px 0 10px;}  
.Joedar_photo .box12 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_photo .box12 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;} 
.Joedar_photo .box12 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
.ku{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 20px;}
.Joedar_photo h3{height:60px;line-height:60px;border-bottom:1px solid #e9eee9;text-align:center;font-size:20px;}
.Joedar_photo .more{position:absolute;right:41%;top:58px;width:200px;height:4px;background-color:#146000;}
.Joedar_photo .Joedar_show{height:200px;padding:24px 0 0 48px;}
.Joedar_photo .Joedar_show ul{padding-top:30px;}
.Joedar_photo .Joedar_show li{float:left;width:202px;height:202px;margin-right:24px;}
.Joedar_photo .Joedar_show li img{width:202px;height:202px;background-color:pink;}
.Joedar_photo .Joedar_show span{text-align:center;padding-top:15px;display:block;}
	/*第五个*/
.main-pageeeee{height:300px;margin-top:20px;}
.main-pageeeee .left, {float:left;}
.main-pageeeee .nav-back{width:220px;height:300px;}
.main-pageeeee.nav{/*position:relative;*/left:334px;margin-top:-300px;width:660px;text-align:center;font-size:14px;font-family:"微软雅黑";color:#fff;}
.main-pageeeee .nav div{height:32px;line-height:32px;width:100px;float:left;color:#356160;height:34px;margin-bottom:25px;margin-right:15px;border-radius:2px;}
.main-pageeeee .nav div.on{background:#248d91;width:100px;color:#fff;}
.main-pageeeee .right{width:620px;margin-left:20px;}
.main-pageeeee  .content-back{}
.main-pageeeee .content{position:relative;width:1075px;margin-top:-300px;overflow:hidden;margin-left:40px;}
.main-pageeeee .content div{width:960px;height:280px;margin-bottom:10px;text-align:center;}
.main-pageeeee .content div ul{width:9000px;}
.main-pageeeee .content div li{float:left;margin:0 18px 30px 0 ;height:500px;width:200px;}
.main-pageeeee .content div li div{display: table-cell;text-align: center;vertical-align: middle;width: 200px;height: 200px;border: 1px solid #f6f6f6;}
.main-pageeeee .content div li img{max-width:200px;max-height:200px;}
.main-pageeeee .content div li p{line-height:35px;}
/*售后保障*/
.Joedar_sale{width:1198px;margin:0 auto;clear:both;margin-top:40px;border:1px solid #efefef;background-color:#fff;position:relative;box-shadow:0px 0px 2px #bad9a5;}
.Joedar_sale .zhe_z14{width:1200px;height:360px;background-color:#000;opacity:0.7;position:absolute;display:none;z-index:999;}
.Joedar_sale .box-bar14{position:absolute;top:7px;right:10px;z-index:9999;}
.Joedar_sale .box-bar14 a{color:#000;background-color:#f5f1f1;width:40px;height:25px;display:inline-block;border-radius:2px;text-align:center;line-height:25px;}
.Joedar_sale .box14{position:fixed;width:840px;left:50%;height:600px;z-index:100;background-color:#fff;border:6px rgba(122,122,122,.6) solid;padding:1px;z-index:999999;}
.Joedar_sale .box14 h2{height:35px;font-size:14px;background-color:#f6f6f6;position:relative;padding-left:10px;line-height:35px;color:#000;}
.Joedar_sale .box14 h2 a{position:absolute;right:10px;top:10px;font-size:12px;color:#000;background:url(../../../img/v2/enterpriseCustom/flase.png)no-repeat;width:16px;height:16px;}
.Joedar_sale .box14 .mainlist{padding:10px;height:600px;overflow: auto;}
.Joedar_sale .box14 .mainlist h3{border-bottom:1px solid #e3e3e3;height:20px;margin-bottom:20px;text-align:center;}
.Joedar_sale .box14 .mainlist span{display: inline-block;width: 62px;padding-bottom: 15px;text-align: center;}
.Joedar_sale .box14 .mainlist .after_sale{width:544px;height:40px;border:1px solid #e3e3e3;margin-bottom:10px;padding-left:10px;font-family:"微软雅黑";} 
.Joedar_sale .box14 .mainlist .ensure .abolish{background-color: #d9d9d9;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #000;padding: 0;} 
.Joedar_sale .box14 .mainlist .ensure a{background-color:#145f00;text-align: center;height: 28px;display: inline-block;line-height: 28px;border-radius: 4px;color: #fff;margin-left:10px;cursor: pointer;} 
.Joedar_sale .box14 .mainlist .ensure{position:absolute;right:47px;bottom:30px;}
.ku{width:25px;height:25px;display:block; border:1px solid #d3d3d3;margin:10px 0 0 20px;}
.Joedar_sale .security{padding:60px 0 0 48px;}
.Joedar_sale h3{font-size:20px;font-weight:bold;}
.Joedar_sale p{line-height:30px;padding-top:10px;width:1000px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}

@charset "utf-8";

.row {
	overflow: hidden;
	margin-bottom: 15px;
}

.row>* {
	float: left;
	margin-right: 10px;
}

.for_zhanhui {
	display: none
}

.row>span:first-child {
	width: 80px;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.for_tip {
	height: 30px;
	line-height: 32px;
	color: #666;
	font-size: 12px;
}

textarea {
	margin-left: 25px;
	border: 1px solid #ccc;
	padding: 5px;
}

input[type=text] {
	width: 400px;
}

.for_img {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	position: relative;
	line-height: 150px;
	text-align: center;
	color: #666;
}

.for_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ml_90 {
	margin-left: 90px;
}

.tab_main {
	min-height: 500px;
	padding-bottom: 10px;
}

.preview_shade {
	display: none;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(204, 204, 204, 0.81);
}

.box14_preview {
	display: none;
	width: 1200px;
	height: 360px;
	position: fixed;
	z-index: 99999999;
	left: 100px;
	top: 200px;
	overflow: auto;
	background-color: #FFF;
}

.box14_preview h2 {
	height: 35px;
	font-size: 14px;
	background-color: #f6f6f6;
	position: relative;
	padding-left: 10px;
	line-height: 35px;
	color: #000;
}

.box14_preview h2 a {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	color: #000;
	background: url(${ctxStatic}/img/v2/enterpriseCustom/flase.png)
		no-repeat;
	width: 16px;
	height: 16px;
}

.box14_preview h3 {
	font-size: 20px;
	font-weight: bold;
}

.prePreview {
	padding: 48px 0 0 48px;
}

/*住址联系方式*/
.Joedar_address{width:100%;height:80px;background-color:#ecffe7;}
.Joedar_address .contact{width:1200px;height:80px;margin:0 auto;position:relative;margin-top:160px;}
.Joedar_address .contact p{line-height:80px;}
.Joedar_address .contact span{padding-left:25px;}
.Joedar_address .contact .huan_j{position:absolute;left:300px;font-size:20px;}
.Joedar_address .contact .di_z{left:575px;position:absolute;font-size:20px;}
/*底部下部信息 start*/
.footer_bottomBox{width:100%;background:#4F9028;margin-top:60px;}
.footer_bottom{width: 1000px;margin: 0 auto;padding: 10px 0;color: #FFFFFF;height:150px;}
.footer_bottom .footer_link{float: left;width:880px;margin: 15px 0px;}
.footer_bottom .footer_link p{color:#fff;}
.footer_bottom .footer_link .f_l_bottom{line-height: 25px;float: left;width:809px}
.footer_bottom .footer_link .f_l_bottom a{color: #FFFFFF;}
.footer_bottom .footer_link .f_l_l{font-weight: bold;color:#fff;margin-right: 10px;float: left;width: 60px;margin-top: 2px;}
.footer_bottom .footer_authen{float: right;width: 117px;}
.footer_bottom .footer_authen img{float: right;}
/*底部下部信息 end*/
	