@charset "utf-8";

.row {
	overflow: hidden;
	margin-bottom: 15px;
}

.row>* {
	float: left;
	margin-right: 10px;
}

.for_zhanhui {
	display: none
}

.row>span:first-child {
	width: 80px;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.for_tip {
	height: 30px;
	line-height: 32px;
	color: #666;
	font-size: 12px;
}

textarea {
	margin-left: 25px;
	border: 1px solid #ccc;
	padding: 5px;
}

input[type=text] {
	width: 400px;
}

.for_img {
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
	position: relative;
	line-height: 150px;
	text-align: center;
	color: #666;
}

.for_img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ml_90 {
	margin-left: 90px;
}

.tab_main {
	min-height: 500px;
	padding-bottom: 10px;
}

.preview_shade {
	display: none;
	position: fixed;
	z-index: 9999999;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(204, 204, 204, 0.81);
}

.box14_preview {
	display: none;
	width: 1200px;
	height: 360px;
	position: fixed;
	z-index: 99999999;
	left: 100px;
	top: 200px;
	overflow: auto;
	background-color: #FFF;
}

.box14_preview h2 {
	height: 35px;
	font-size: 14px;
	background-color: #f6f6f6;
	position: relative;
	padding-left: 10px;
	line-height: 35px;
	color: #000;
}

.box14_preview h2 a {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	color: #000;
	background: url(${ctxStatic}/img/v2/enterpriseCustom/flase.png)
		no-repeat;
	width: 16px;
	height: 16px;
}

.box14_preview h3 {
	font-size: 20px;
	font-weight: bold;
}

.prePreview {
	padding: 48px 0 0 48px;
}