
.hbbj_main_l{overflow: hidden;margin-top: 15px;width:746px;height:386px;background: url(../../img/llhb/hbbj_index.png) 0 0 no-repeat}
.hbbj_main_l > p{margin-left: 60px;color:#fff;line-height: 200%;font-size: 12pt;}
.hbbj_main_l > p:first-child{margin-top: 100px;}
.hbbj_main_l > ul{overflow: hidden;margin-left: 60px;margin-top: 50px}
.hbbj_main_l > ul li{float: left;margin-right: 50px;color:#235987;}
.hbbj_main_mid h5{border-bottom: 2px solid #ccc;padding:10px 0;font-size: 25px;font-weight: normal;}
.hbbj_main_mid table{width:100%;}
.hbbj_main_mid table tr{border-bottom: 1px dashed #ccc;}
.hbbj_main_mid table tr{color:#5ec520;}
.hbbj_main_mid table tr:hover{background-color: #efefef;cursor: pointer;color:red;}
.hbbj_main_mid table tr th{font-size: 16px;padding:5px;}
.hbbj_main_mid table tr td{padding:5px;min-width:125px;}

.hbbj_main_b{margin-top: 15px;width:100%;height:550px;overflow: hidden;}
.hbbj_main_b h5{font-size: 30px;font-weight: 400;text-align: center;margin-top: 50px;line-height: 45px;}
.hbbj_main_b p{font-size: 20px;text-align: center;}
.hbbj_main_b > .fl{width:50%;}
.hbbj_main_b1 h5,.hbbj_main_b3 h5{color:#fff;}
.hbbj_main_b1{background: url(../../img/llhb/hbbj_b_1_03.png) 0 0 no-repeat;}
.hbbj_main_b1 p{margin-top:297px;}
.hbbj_main_b2 p{margin-top:274px;}
.hbbj_main_b3 p{margin-top:330px;}
.hbbj_main_b2{background: url(../../img/llhb/hbbj_b_2_03.png) 0 0 no-repeat;}
.hbbj_main_b3{background: url(../../img/llhb/hbbj_b_3_03.png) 0 0 no-repeat;}
