.btn{width:120px;line-height:30px;height:30px;text-align: center;color:#fff;background-color: #5cb531;display: inline-block;margin-right: 5px;padding-top: 1px;}
.btn1{width:50px;line-height:30px;height:30px;text-align: center;color:#fff;background-color: #5cb531;display: inline-block;margin-right: 5px;padding-top: 1px;}
.normal_btn{margin-right:5px;width:120px;line-height:30px;height:30px;text-align: center;color:#666666;display: inline-block;border:1px solid #cccccc;}
.normal_btn1{margin-right:5px;width:50px;line-height:30px;height:30px;text-align: center;color:#666666;display: inline-block;border:1px solid #cccccc;}
.normal_btn_1{margin-left:5px;width:90px;line-height:30px;height:30px;text-align: center;color:#fff;display: inline-block;border:1px solid #5ec520; background-color:#5ec520; float:right;}
.normal_btn_2{margin-right:5px;width:80px;line-height:30px;height:30px;text-align: center;color:#fff;display: inline-block;border:1px solid #5ec520; background-color:#5ec520;}
.tab_main{border:1px solid #ccc;padding:15px 10px 30px;min-height:400px;position: relative;}            
.zxgl_table{margin-top: 15px;width:100%;}
.zxgl_table tr{border-bottom: 1px dashed #ccc;}
.zxgl_table th,.zxgl_table td{padding:5px 0;text-align: center;}
.zxgl_table th{background-color: #efefef;}
.zxgl_table td a{color:#5EC520;}
/*删除选中、翻页*/
.filp_box{overflow:hidden; margin-top:30px;position: absolute;bottom:30px;left:15px;}
.filp_box .del_all{float:left; margin-right:260px;}
.del_only{margin-left:6px;}
.filp_box .filp{float:left;}
.filp_box .filp>*{float:left;margin-right: 5px;}
.filp_box .filp>a{margin-top: 5px;}

/*input样式*/
input[type=text]{height:30px;border:1px solid #cccccc;text-indent:10px;width:100px;vertical-align:middle;}
input[type=text]:focus{height:30px;border:1px solid #ee7800;}
.tab_main input[type=text],.tab_main input[type=password]{border:1px solid #ccc; height:32px;text-indent: 5px;}
.tab_main input[type=text]:focus,.tab_main input[type=password]:focus{border:1px solid #ee7800;}
.tab_main input[type=button]{border:1px solid #ccc; height:34px;background-color:#fff; width:102px; text-align:center;cursor: pointer;}
 select{height: 30px;border: 1px solid rgb(204, 204, 204);width: 100px;}
 /*表格内容字号*/
 table tr td{font-size:12px;} 

/*展示图片*/
 .per_pic_div{position:relative;width:120px;height:125px;border:1px solid #ccc;float:left;}
 .per_pic_div>img{width:100%;display: block;height:100px;text-algin:center;line-height:100px;}
 .check_sel_pic{display: none;position: absolute;top:0;left:0;width:100%;height:100px;background: rgba(0,0,0,.7) url(../../img/llhb/check_sel_pic.png) center center no-repeat;background-size: 100% 100%;}
 .per_pic_div .check_del_div{height:25px;background-color: #efefef;}

 .per_pic_div .check_del_div a{font-size: 12px;float:right;color:#5EC520;margin-top: 3px;margin-right: 5px;}
 .per_pic_div > p{height:25px;padding:0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
 .for_sel_del{overflow: hidden;background-color: #efefef;height:25px;}
 
 .for_sel_del a{font-size: 12px;float:right;color:#5EC520;margin-top: 3px;margin-right: 5px;}